<!DOCTYPE html>
<html>

<head>
  <title>Parkr</title>

  <!-- Link to the jQuery Library -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Including Font Awesome Icons -->
  <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>

  <!-- Link to reset stylesheet -->
  <link rel="stylesheet" href="../stylesheets/reset.css">

  <!--Import Google Icon Font and custom fonts-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Holtwood+One+SC|Knewave|Rubik+Mono+One|Wallpoet" rel="stylesheet">

  <!-- Compiled and minified Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and minified Materialize JavaScript --><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> 
  
  
  <link rel='stylesheet' href='../stylesheets/style.css'>

  <!--Favicon Code-->
  {{!-- <link href="***********" rel="icon" type="image/png"> --}}

  <!-- Map javascript reference -->
  <script src="../js/mapScript.js"></script>
  
  <!-- Login and User js file references -->
  <script src="../js/signup.js"></script>
  <script src="../js/members.js"></script>
  <script src="../js/login.js"></script>


</head>

<body>

  {{{body}}}


{{!-- Google Maps API call --}}

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlIWszXZSUTvXdYpLrNSSAVFU7YbIHRdY&callback=initMap">
  </script>
</body>

</html>