<!DOCTYPE html>
<html>

<head>
  <title>Parkr</title>

  <!-- Link to the jQuery Library -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Including Font Awesome Icons -->
  <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>

  <!-- Link to reset stylesheet -->
  <link rel="stylesheet" href="../../public/css/reset.css">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and minified Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> 
  
  
  <link rel='stylesheet' href='../../public/css/style.css'>

  <!--Favicon Code-->
  <link href="***********" rel="icon" type="image/png">


</head>

<body>

  {{{body}}}

  <script>
    $(".submit").click(function (event) {
      event.preventDefault();
    });
  </script>

</body>

</html>