<!DOCTYPE html>
<html>

<head>
  <title>Parkr</title>

  <!-- Link to the jQuery Library -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Including Font Awesome Icons -->
  <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>

  <!-- Link to reset stylesheet -->
  <link rel="stylesheet" href="../stylesheets/reset.css">

  <!--Import Google Icon Font and custom fonts-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Holtwood+One+SC|Knewave|Rubik+Mono+One|Wallpoet" rel="stylesheet">

  <!-- Compiled and minified Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and minified Materialize JavaScript --><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> 
  
  
  <link rel='stylesheet' href='../stylesheets/style.css'>

  <!--Favicon Code-->
  <link href="http://www.freeiconspng.com/uploads/car-icon-png-25.png" rel="icon" type="image/png">

  <!-- Map javascript reference -->
  <script src="../js/mapScript.js"></script>
  
  <!-- Login and User js file references -->
  <script src="../js/signup.js"></script>
  <script src="../js/members.js"></script>
  <script src="../js/login.js"></script>


</head>

<body>

  {{{body}}}



  <footer class="page-footer blue-grey accent-2">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Parkr - Helping your car find its match</h5>
          <p class="grey-text text-lighten-4">University of Denver Fullstack Web Development Bootcamp Project. Deployed on Heroku.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Technology Used</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="http://materializecss.com/about.html">Materialize</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="http://fontawesome.io/icons/">Fontawesome</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="https://nodejs.org/en/about/">Node JS</a>
            </li>
          </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <i class="medium material-icons">looks</i> A JS SnowShaw Collaboration
    </div>
  </footer>



{{!-- Google Maps API call --}}

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlIWszXZSUTvXdYpLrNSSAVFU7YbIHRdY&callback=initMap">
  </script>
</body>

</html>