<header>
  <nav>
    <div class="nav-wrapper blue-grey darken-4">
      <i class="fa fa-car fa-5x" aria-hidden="true" id=logo-icon></i>
      <a href="/" class="brand-logo" id="logo">PRKR </a>
      <ul class="right hide-on-med-and-down" id="head-nav-links">
        <li>
          <a href="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</header>


<main>
  <div class="container">
    <div class="row">
      <div class="col l12 z-depth-5 mainpanel">
        <div id="mainpanel-content">

          <h2>
            <i class="fa fa-snowflake-o" aria-hidden="true" id=logo-icon></i> Friend Finder
            <i class="fa fa-snowflake-o" aria-hidden="true" id=logo-icon></i>
          </h2>

          <div class="divider"></div>

          <h3>Feeling chilly? Run through the the list of questions to find someone to help keep you warm.</h3>
          <h4>Find friends with the greatest compatibility! Don't worry... we have pictures.</h4>
          <a href="/survey">
            <button class="btn waves-effect waves-light" type="submit" name="action">Go to Survey
              <i class="material-icons right">send</i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>