form.signup,
form.login {
  margin-top: 50px;
};

#map{
  height:200pt;
  margin:0;
  padding:0;
  width:400pt;
  background-color: black;
};

.button, .btn, #extendButton, #cancelButton {
  margin: 15pt;
}

body{
  background-color: rgba(102, 238, 245, 0.26);
}