html{
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}


form.signup,
form.login {
  margin-top: 50px;
};

#map{
  height:200pt;
  margin:0;
  padding:0;
  width:400pt;
  background-color: black;
};

#logo {
 font-family: 'Wallpoet', cursive;
 font-size: 40pt;
}

.button, .btn, #extendButton, #cancelButton {
  margin-bottom: 15pt;
};

body{
  background-color: rgba(43, 51, 51, 0);
  background-image: url("assets/background.jpg");
};